*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html, body {
  font-size: 60%;
  font-family: "Montserra", Arial, Helvetica, sans-serif;
}

.mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop {
  display: none;
}

.background-salmon {
  background: #f68b67;
}

.background-prusia {
  background: #0d2f44;
}

.container {
  width: 90%;
}

.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-one {
  background: #0d2f44;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-one {
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #f68b67;
  font-weight: 900;
  line-height: 2rem;

  padding: 2rem 0;
}

.text-one {
  font-size: 1.6rem;
  color: #f68b67;
  line-height: 2rem;
}

.button-block-one {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f68b67;
  color: #0d2f44;
  width: 100%;
  height: 5.6rem;
  font-size: 2.8rem;
  font-weight: 900;
  border-radius: 1rem;
  text-decoration: none !important;
  border: 0;
  outline: 0;
  transition: opacity 0.5s;
  margin-top: 2rem;
}

.button-block-one:hover {
  opacity: 0.8;
}

.block-two {
  background-color: #0d2f44;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-two {
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #f68b67;
  font-weight: 900;
  line-height: 2.3rem;

  padding: 2rem 0;
}

.text-two {
  font-size: 1.6rem;
  color: #f68b67;
  line-height: 2rem; 
  padding-bottom: 3rem;
}

.block-three {
  background-color: #f68b67;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-three {
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #0d2f44;
  font-weight: 900;
  line-height: 2.3rem;

  padding: 2rem 0;
}

.text-three {
  font-size: 1.6rem;
  color: #0d2f44;
  line-height: 2rem; 
}

.button-block-three {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d2f44;
  color: #f68b67;
  width: 100%;
  height: 5.6rem;
  font-size: 2.8rem;
  font-weight: 900;
  border-radius: 1rem;
  text-decoration: none !important;
  border: 0;
  outline: 0;
  transition: opacity 0.5s;
  margin: 2.5rem 0;
}

.button-block-three:hover {
  opacity: 0.8;
}

.block-four {
  background-color: #0d2f44;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-four {
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #f68b67;
  font-weight: 900;
  line-height: 2.3rem;

  padding: 2rem 0;
}

.text-four {
  font-size: 1.6rem;
  color: #f68b67;
  line-height: 2rem; 
  padding-bottom: 3rem;
}

.block-five {
  background-color: #f68b67;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-five {
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #0d2f44;
  font-weight: 900;
  line-height: 2.3rem;

  padding: 2rem 0;
}

.text-five {
  font-size: 1.6rem;
  color: #0d2f44;
  line-height: 2rem;
}

.button-block-five {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d2f44;
  color: #f68b67;
  width: 100%;
  height: 5.6rem;
  font-size: 2.8rem;
  font-weight: 900;
  border-radius: 1rem;
  text-decoration: none !important;
  border: 0;
  outline: 0;
  transition: opacity 0.5s;
  margin: 2.5rem 0;
}

.button-block-five:hover {
  opacity: 0.8;
}

.image-block {
  width: 100%;
}

.link-salmon {
  color: #f68b67;
  text-decoration: none;
  transition: text-decoration 0.3s;
}

.link-salmon:hover {
  text-decoration: underline;
}

.link-prusia {
  color: #0b2739;
  text-decoration: none;
  transition: text-decoration 0.3s;
}

.link-prusia:hover {
  text-decoration: underline;
}

footer {
  background-color: #0d2f44;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-footer {
  font-size: 2.1rem;
  text-transform: uppercase;
  color: #f68b67;
  font-weight: 900;
  line-height: 2.5rem;
  padding-bottom: 2rem;
  text-align: center;
}

.text-social {
  font-size: 1.6rem;
  color: #f68b67;
  text-align: center;
}

.icons-sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.4rem 0;
}

.link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  text-decoration: none !important;
  box-shadow: 0;
  transition: top 0.3s;
}

.link-social:hover {
  position: relative;
  top: -5px
}

.icon-facebook {
  width: 3.3rem;
}

.logos-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.button-support {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f68b67;
  color: #0d2f44;
  width: 100%;
  height: 7.5rem;
  font-size: 2.8rem;
  font-weight: 900;
  border-radius: 1rem;
  text-decoration: none !important;
  border: 0;
  outline: 0;
  transition: opacity 0.5s;
  margin: 2.5rem 0;
  text-transform: uppercase;
}

.button-support:hover {
  opacity: 0.8;
}

.button-opinion {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f68b67;
  color: #0d2f44;
  width: 100%;
  height: 7.5rem;
  font-size: 2.5rem;
  font-weight: 900;
  border-radius: 1rem;
  text-decoration: none !important;
  border: 0;
  outline: 0;
  transition: opacity 0.5s;
  margin: 2.5rem 0;
  text-transform: uppercase;
}

.button-opinion:hover {
  opacity: 0.8;
}

.button-download {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f68b67;
  color: #0d2f44;
  width: 100%;
  height: 7.5rem;
  font-size: 2rem;
  font-weight: 900;
  border-radius: 1rem;
  text-decoration: none !important;
  border: 0;
  outline: 0;
  transition: opacity 0.5s;
  margin: 2.5rem 0;
  text-transform: uppercase;
}

.button-download:hover {
  opacity: 0.8;
}

@media (min-width: 1024px) {
  html, body {
    font-size: 62.5%;
  }

  .mobile {
    display: none;
  }

  .container {
    width: 72%;
  }

  .desktop {
    display: block;
  }

  .mosaico {
    width: 100%;
  }

  .block-one {
    padding: 0;
  }

  .block-two {
    background-image: url('../img/img_block_two.png');
    background-repeat: no-repeat;
    height: 42.5rem;
    justify-content: flex-end;
  }

  .title-two {
    font-size: 3rem;
    line-height: 3.3rem;
  
    padding-bottom: 2rem;
  }
  
  .text-two {
    font-size: 2.5rem;
    line-height: 3rem;
    padding-right: 9rem;
    padding-bottom: 0;
  }

  .block-three {
    background-image: url('../img/img_block_three.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 42.7rem;
    justify-content: flex-start;
  }
  
  .title-three {
    font-size: 3rem;
    line-height: 3.3rem;
  
    padding: 0 0 1.5rem 9.5rem;
  }
  
  .text-three {
    font-size: 2.5rem;
    line-height: 2.9rem;
    padding: 0 9.5rem;
    padding-bottom: 0;
  }

  .button-block-three {
    width: 35rem;
    height: 5.6rem;
    margin: 1.5rem 9.5rem;
  }

  .block-four {
    background-image: url('../img/img_block_four.png');
    background-color: #0b2739;
    background-repeat: no-repeat;
    height: 43.3rem;
    justify-content: flex-end;
  }

  .title-four {
    font-size: 3rem;
    line-height: 3.3rem;
  
    padding: 2rem 10.5rem;
  }
  
  .text-four {
    font-size: 2.5rem;
    line-height: 3rem;
    padding: 0 10.5rem;
    padding-bottom: 0;
  }

  .block-five {
    background-image: url('../img/img_block_five.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 43rem;
    justify-content: flex-start;
  }
  
  .title-five {
    font-size: 3rem;
    line-height: 3.3rem;
  
    padding: 2rem 16rem;
  }
  
  .text-five {
    font-size: 2.5rem;
    line-height: 3rem; 
    padding: 0 16rem;
    padding-bottom: 0;
  }

  .button-block-five {
    width: 35rem;
    height: 5.6rem;
    margin: 2rem 16rem;
  }

  .title-footer {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }

  .container-button-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }

  .button-support {
    height: 10rem;
    margin: 0 2rem;
  }

  .button-opinion {
    height: 10rem;
    font-size: 2.4rem;
    line-height: 2.8rem;
    padding: 0 2rem;
    margin: 0m 2rem;
  }

  .button-download {
    height: 10rem;
    font-size: 2.2rem;
    margin: 0 2rem;
  }

  .body-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .redes-sociais {
    width: 30%;
  }

  .text-social {
    font-size: 1.8rem;
    padding: 0 8rem;
  }  

  .logos-footer {
    width: 70%;
  }

  .logos-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    margin-left: 6rem;
  }
  
}
